div.container{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: coral;
    margin-top: 20px;
    margin-left: auto;margin-right: auto;
    color: white;
    letter-spacing: 6px;
    align-items: center;
    transition: background-color 2s;
}

button#start , button#stop{
    margin: 10px auto;
    display: block;
}
